body {
    background-color: #E9F0F0;
}

.covid-ad {
    background-color: #f5f5dc;
    border: none;
}

.covid-link {
    padding: 0.45em;
    text-align: center;
}

a.covid, a.covid:hover {
    color: #b49e43;
    font-weight: bold;
    font-style: normal;
    font-size: 15px;
    letter-spacing: .03em;
    line-height: 1.8em;
    text-transform: none;
    text-decoration: none;
}

.close-btn, .close-btn:hover {
    width: 45px;
    position: fixed;
    right: 0;
    top: 0;
    height: 1.75em;
    background-color: #d4cdad !important;
    border: none;
}

.x-icon {
    color: #836e19;
    background-color: #d4cdad;
    text-shadow: none;
    font-size: 11pt;
    font-weight: bold;
    position: relative;
    bottom: 3px;
}

.Header-branding-logo {
    height: 2.7em;
    width: 11.25em;
}

.logo {
    width: fit-content;
    border: none;
    background: transparent;
    padding: 3em 3em 3em 4.35em;
}

logo > a {
    width: fit-content;
}